.input {
    label {
             padding-left: .5rem;
         }
    transition: .2s;
    input {
        position: relative;
        top: -.05rem;
    }
    &:hover {
        transform: scale(1.1);
    }
    display: inline-block;
}


.strikeThrough {
    input:checked + label {
        text-decoration: line-through;
        color: rgba(136, 136, 136, 0.98);
    }
}