.wrapperstyle {
  border: .2em white solid;
  border-radius: 1rem;
  overflow: hidden;
  min-height: 100vh;
  background-color: #333;
  box-shadow: 0 .5rem 1rem #0004;

  > *:nth-child(even) {
    background-color: darkslategray;
  }
}

.transition {
  transition: height 300ms;
}

.valgGruppe {
  padding: 1rem 2rem;
  transition: background-color .5s;
  h2 {
    margin: 0 0 0.5rem;
  }
}

.inputGruppe {
  display: flex;
  flex-wrap: wrap;

  > * {
    margin: .4rem 2rem .4rem 0;
  }
}

.header {
  padding: 2rem 2rem 0rem;
  font-size: 2.5rem;
  margin: 0 0 .6em;
}

.opprett {
  padding: 1rem 2rem 2rem;
}

.listeNavn {
  padding: 1rem 2rem 1.25rem;
}

.hentListeWrapper {
  display: flex;
  align-items: center;

  button {
    margin-top: 1rem;
  }
}