.pakk {
  margin: 1em;
  .input {
    transition: none
  }

  ul {
    list-style-type: none;
    padding-left: 1em;
  }
}


.icon {
  //background-color: red;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 463 463'%3E%3Cpath fill='%23fff' d='M-508.733-60.338h216.638v306.7h-216.638z'/%3E%3Cpath d='M75.36 330.367c-8.035-4.517-7.545 2.311-7.256-101.218.252-90.212.295-92.053 2.257-94.736 3.704-5.066 8.898-6.764 20.685-6.764H101.6l.521-4.618c.359-3.185 1.336-5.434 3.15-7.25 2.503-2.506 3.209-2.648 14.696-2.968 16.672-.464 19.862 1.019 20.86 9.7l.534 4.636 20.25.142 20.25.143v-16.158c0-18.549.888-21.51 7.604-25.36 3.849-2.208 4.368-2.235 43.244-2.25 43.496-.02 43.913.036 48.421 6.356 2.065 2.895 2.254 4.407 2.545 20.397l.315 17.27 20.185-.27 20.186-.27.533-4.637c.999-8.68 4.188-10.163 20.86-9.699 11.487.32 12.193.462 14.696 2.968 1.814 1.816 2.791 4.065 3.15 7.25l.52 4.618h10.713c9.217 0 11.314.317 15.015 2.275 2.541 1.344 5.066 3.697 6.17 5.75 1.79 3.33 1.856 7.28 1.605 95.475l-.262 92-2.23 3.126c-4.89 6.855 7.36 6.375-162.422 6.357l-153.348-.016zm15.5-100.218v-93.5h-4.428c-8.217 0-7.571-8.014-7.571 94.021 0 102.264-.782 92.887 7.75 92.948l4.25.03zm274 0v-93.5h-264v187h264zm20.066 92.465c1.89-1.012 1.935-3.089 1.935-91.93 0-102.05.645-94.035-7.572-94.035h-4.428v187h4.065c2.236 0 4.936-.466 6-1.035zM130.861 124.649v-3h-18v6h18zm142.082-7.25c.153-19.16-.081-22.165-1.829-23.5-2.114-1.616-73.328-1.816-76.32-.215-1.791.959-1.933 2.245-1.933 17.5v16.465h80zm79.918 7.25v-3h-18v6h18z'/%3E%3C/svg%3E");
}
